html, body {
    height: 100%;
    margin: 0;
}

div {
    height: auto; 
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.LiveLuxe-footer {
    margin-top: auto;
}
