.footer {
    background-color: #171717;
    color: #f7f7f7ef;
    padding: 40px 10px;
}

.footer h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer p {
    font-size: 15px;
    margin: 10px 0;
    font-weight: 500;
    text-align: start;
}

.footer i {
    font-size: 15px;
    color: #D6AD60;
    margin-right: 15px;
}

.footer .d-flex a {
    color: #D6AD60;
}

.footer .d-flex a:hover {
    transform: scale(1.2);
}

.footer .text-center p:hover {
    color: #D6AD60;
    cursor: pointer;
}




