.LiveLuxe-navbar {
    background-color: #171717;
}

.LiveLuxe-navbar .navbar-brand {
    color: #fff0f0ef;
    font-size: 20px;
    font-weight: 500;
}

.LiveLuxe-navbar .navbar-brand:hover {
    color: #D6AD60;
}

.LiveLuxe-navbar .navbar-brand:active {
    color: #fff0f0ef !important;
}

.user-dropdown {
    background-color: #D6AD60 !important;
    color: #171717 !important;
    border: 1px solid #D6AD60 !important;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: none !important;
}

.user-dropdown:hover {
    background-color: #fffff0ef !important;
    color: #D6AD60 !important;
    border: 1px solid #fff0f0ef !important;
}

.user-dropdown:focus {
    background-color: #D6AD60 !important;
    color: #171717 !important;
    border: 1px solid #D6AD60 !important;
    box-shadow: none !important;
}

.custom-dropdown-menu {
    background-color: #000 !important;
    border: 1px solid #D6AD60 !important;
    border-radius: 8px;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-dropdown-item {
    font-size: 14px;
    padding: 8px 20px;
    transition: all 0.3s ease;
    background-color: transparent;
}

.custom-dropdown-item:first-child {
    color: gold; 
}

.custom-dropdown-item:nth-child(2) {
    color: gold; 
}

.custom-dropdown-item:last-child {
    color:  gold; 
}

.custom-dropdown-item:hover {
    background-color: #D6AD60 !important;
    color: #171717 !important;
}

.custom-dropdown-item.selected {
    background-color: #D6AD60 !important;
    color: #171717 !important;
}
