
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px;
    border: 1px solid #D6AD60;
    text-align: left;
    color: #D6AD60;
    background: transparent;
}

.table th {
    background: transparent;
    color: #D6AD60;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background: transparent;
}

.table tr:hover {
    background: rgba(214, 173, 96, 0.2);
}



@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    
    h1, h2 {
        font-size: 22px;
    }
    
    .table th, .table td {
        padding: 10px;
        font-size: 14px;
    }
}
