.signup-container {
    margin: 80px auto;
    padding: 20px 15px;
    background-color: #171717;
    border: 2px solid #D6AD60;
    border-radius: 15px;
    width: 400px;
    transition: transform 0.3s ease;
}

.signup-container:hover {
    transform: translateY(-5px);
}

.signup-container h2 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #f7f7f7ef;
    text-align: center;
    margin-bottom: 15px;
}

.signup-container .form-label {
    font-weight: 600;
    color: #f7f7f7ef;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.signup-container .form-control {
    border-radius: 15px;
    border: 2px solid #D6AD60;
    padding: 8px;
    font-size: 0.85rem;
    color: #171717;
    background-color: #f7f7f7ef; 
    transition: all 0.3s ease;
}

.signup-container .form-control::placeholder {
    font-size: 0.85rem;
    font-weight: 500;
}

.signup-container .form-control:focus {
    border-color: #D6AD60;
    box-shadow: 0 0 8px #D6AD60;
}

.signup-container .btn-primary {
    background: #171717;
    border: 2px solid #D6AD60;
    padding: 10px;
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 15px;
    color: #f7f7f7ef;
    margin-top: 10px; 
}

.signup-container .btn-primary:hover {
    background: #D6AD60;
    color: #171717;
    transform: scale(1.05);
}

.signup-container .btn-primary:active {
    background-color: #D6AD60 !important;
    border-color: #D6AD60 !important;  
    transform: scale(0.95);
}

.signup-container .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #171717;
    color: #f7f7f7ef;
    font-size: 1rem;
    font-weight: 500;
    width: 30px; 
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container .close-button:hover {
    background-color: #D6AD60;
    color: #171717;
    transform: scale(1.05);
}

.signup-container .close-button:active {
    background-color: #D6AD60 !important;
    border-color: #D6AD60 !important;  
    transform: scale(0.95);
}
