.container-house-description {
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 150px;
}

.house-title {
    font-size: 30px;
    font-weight: 600;
    color: #f7f7f7ef;
    margin-left: 20px;
}

.container-house-description .house-carousel {
    overflow: hidden;
    position: relative;
    border-radius: 30px;
    border: 3px solid #D6AD60;
}

.container-house-description .house-carousel-image {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 26px;
}

.container-house-description .house-location {
    color: #f7f7f7ef; 
    font-weight: 600; 
    font-size: 25px;
    margin-top: 15px;
    margin-left: 20px;
}

.container-house-description .house-location .house-icon-location {
    color:#D6AD60;
    margin-bottom: 5px;
    margin-right: 5px;
}

.container-house-description .house-guests-details {
    color: #f7f7f7ef; 
    font-weight: 600; 
    font-size: 20px;
    margin-left: 25px;
    margin-top: 15px;
}

.container-house-description .house-guests-details .house-icon-guests {
    color:#D6AD60;
    margin-bottom: 5px;
    margin-right: 8px;
}

.container-house-description .house-services-details {
    color: #f7f7f7ef; 
    font-weight: 600; 
    font-size: 20px;
    margin-left: 25px;
}

.container-house-description .house-services-details .icon-services {
    color:#D6AD60;
    margin-bottom: 5px;
    margin-right: 10px;
}

.container-house-description .calendar-title {
    color: #D6AD60;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.calendar-container {
    background-color: #171717;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #D6AD60;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.react-calendar {
    background-color: #171717;
    color: #ffffff;
    border: 1px solid #D6AD60;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.react-calendar__tile {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #171717;
}

.react-calendar__tile:disabled {
    background-color: #171717;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171717;
    border: none;
}

.react-calendar__navigation button {
    color: #ffffff;
    background: transparent;
    border: none;
    font-size: 20px;
}

.react-calendar__navigation__label {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}

/* For the unavailable day */
.react-calendar__tile--disabled {
    background-color: gray; 
    color: #171717;  
    pointer-events: none; 
}

.total-price {
    color: white;  
    font-size: 20px;
    margin-top: 20px;
}

.price-per-night {
    color: white; 
    font-size: 18px;
    margin-top: 10px;
}

.book-button {
    background-color: #007bff;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.book-button:hover {
    background-color: #0056b3;
}

/* Classi per la selezione delle date */
.react-calendar__tile--check-in {
    background-color: #28a745;
    color: white;
    font-weight: bold;
}

.react-calendar__tile--check-out {
    background-color: #dc3545;
    color: white;
    font-weight: bold;
}

.react-calendar__tile--selected {
    background-color: #007bff;
    color: white;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
